.no-replies {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 100vh;
  font-family: Roboto-Regular, sans-serif;
  font-size: 20px;
  color: var(--color-gray-text);
}