# .env
ENVIRONMENT=prod   # Текущее окружение

DOMAIN=test.domain.com   # Доменное имя сервиса
EMAIL=myemail@email.com   # Email для создания Let's Encrypt SSL сертификата

# Внутреннии порты приложений
FRONTEND_PORT=8080
BACKEND_PORT=8000

POSTGRES_USER=notdefaultuser   # Задание пользователя для базы данных
POSTGRES_PASSWORD=notdefaultuserpassword   # Задание пароля
POSTGRES_DB=db   # Установка имени базы данных

TELEGRAM_BOT_TOKEN=your_telegram_bot_token   # Токен телеграм-бота
JWT_SECRET_TOKEN=your_jwt_secret_key   # Ключ для подписания JWT-токена