:root {
  --color-green-root-background: #F9FFFA;
  --color-green-50: #f0fdf2;
  --color-green-100: #ddfbe2;
  --color-green-200: #bdf5c8;
  --color-green-300: #8aeb9d;
  --color-green-400: #50d86b;
  --color-green-450: #4fc469;
  --color-green-500: #28be46;
  --color-green-600: #14a234;
  --color-green-700: #197c2d;
  --color-green-800: #196229;
  --color-green-900: #165123;
  --color-green-950: #072c10;
  --color-green-true: #0e9243;

  --color-dark-gray: #6B7280;
  --color-gray-text: #6B7280B5;
  --color-gray-global: #f3f3f3;
  --color-gray-hover: #f1efef;
  --color-gray-border: #e3e3e3;
  --color-gray-text-2: #D1D5DB;
  --color-white: #ffffff;

  --color-red-validations-error: #fd9696;
  --color-red-text: #fa5c5c;
  --color-red-3: #f5b6b6;
  --color-red-4: #f1c8c8;
  --color-red-5: #f5e0e0;
  --color-red-6: #fad6d6;
}