.vacancy-page__wrapper {
  flex: 1;
  min-height: 0;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  position: relative;
  gap: 15px;
  margin-bottom: 15px;

  &__edit-mode {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;

    &__close-button {

    }

    &__header {
      font-family: Roboto-SemiBold, sans-serif;
      font-size: 20px;
      display: flex;
      align-self: flex-start;
      padding-left: 20px;
    }
  }

  .vacancy-page {
    border-radius: 8px;
    margin: 15px 15px 0 15px;
    border: 1px solid var(--color-green-500);
    background: var(--color-white);
    padding: 10px 15px;
    gap: 15px;

    &__title {
      font-family: Roboto-Bold, sans-serif;
      font-size: 32px;
      margin: 10px 0 15px 0;
    }

    &__company-name {
      font-family: Roboto-SemiBold, sans-serif;
    }

    &__content {
      display: flex;
      flex-direction: column;
      gap: 10px;
      color: var(--color-gray-text);
      font-size: 14px;
      font-family: Roboto-Regular, sans-serif;
    }

    &__to-company-button {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      padding: 15px 0 0 0;
      gap: 10px;
    }

    &__student-buttons {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      padding: 15px 0 0 0;
      gap: 10px;
    }

    &__additional-info {
      display: flex;
      flex-direction: column;
      border: 1px solid var(--color-gray-border);
      border-radius: 8px;
      margin: 15px 0 0 0;
      padding: 15px;
      gap: 15px;
      font-size: 14px;

      &__item {
        display: flex;
        flex-direction: column;
        color: var(--color-green-950);
        font-family: Roboto-Regular, sans-serif;
        .vacancy-page__label {
          font-family: Roboto-SemiBold, sans-serif;
        }
      }
    }
  }

  .vacancy-page__hr-block {
    border-radius: 8px;
    margin: 0 15px;
    border: 1px solid var(--color-green-500);
    background: var(--color-white);
    padding: 15px 15px;
    gap: 15px;

    &__label {
      font-family: Roboto-Bold, sans-serif;
      font-size: 20px;
      padding-bottom: 10px;
    }

    &__info {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      padding: 0 10px;

      &__username {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 5px;
        font-size: 16px;
        font-family: Roboto-SemiBold, sans-serif;
      }

      &__phone-number {
        font-size: 16px;
        font-family: Roboto-Regular, sans-serif;
      }
    }
  }

  .vacancy-page__replies-block {
    border-radius: 8px;
    margin: 0 15px;
    border: 1px solid var(--color-green-500);
    background: var(--color-white);
    padding: 15px 15px;
    gap: 15px;

    &__label {
      font-family: Roboto-Bold, sans-serif;
      font-size: 20px;
      padding-bottom: 10px;
    }

    &__list {
      display: flex;
      flex-direction: column;
      gap: 10px;
      margin: 0;

      &__list-item {
        font-size: 14px;
        font-family: Roboto-Regular, sans-serif;
      }
    }

    &__empty {
      font-family: Roboto-Regular, sans-serif;
    }
  }
}